{{!-- <img src='/images/logoario.png' alt='travelly-logo'> --}}
<h2>Hey, {{name}}</h2>
<h4>Where are we flying today?</h4>

<div>
  <div>
    <a href="/mytrips/{{city1.name}}/{{city1.lat}}/{{city1.long}}">{{city1.name}}</a>
  </div>

   <div>
    <a href="/mytrips/{{city2.name}}/{{city2.lat}}/{{city2.long}}">{{city2.name}}</a>
  </div>

   <div>
    <a href="/mytrips/{{city3.name}}/{{city3.lat}}/{{city3.long}}">{{city3.name}}</a>
  </div>

</div>
 

<form class="example" method='POST' action="/mytrips">
  <input type="text" name = 'city' placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
