<section class="pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1> Hey, {{name}}.</h1> 
        <h1>Where are we going to fly today?</h1>
      </div>
    </div>
  </div>
</section>


<div>

  {{#each nameResults}}
    <div>
      <a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a>
    </div>
  {{/each}}

</div>

<section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Top Destinations : </h3>
          </div>
          <div class="col-6 text-md-end">
            <a class="btn btn-primary mb-3 me-1"
              href="#carouselExampleIndicators2" role="button"
              data-slide="prev">
              <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2"
              role="button" data-slide="next">
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
          <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide"
              data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item">
                  <div class="row">
                    {{#each nameResults0}}
                        <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                        <div class="card-body">
                          <h4 class="card-title"><a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a></h4>
                        </div>
                      </div>
                    </div>
                     {{/each}}
                   </div>
                </div>
                <div class="carousel-item active">
                  <div class="row">
                  {{#each nameResults2}}
                        <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                        <div class="card-body">
                          <h4 class="card-title"><a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a></h4>
                        </div>
                      </div>
                    </div>
                     {{/each}}
                   </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                     {{#each nameResults3}}
                        <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                        <div class="card-body">
                          <h4 class="card-title"><a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a></h4>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                </div>
        </div>
                        <div class="carousel-item">
                  <div class="row">
                     {{#each nameResults4}}
                        <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                        <div class="card-body">
                          <h4 class="card-title"><a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a></h4>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                </div>
            </div>
                            <div class="carousel-item">
                  <div class="row">
                     {{#each nameResults5}}
                        <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                        <div class="card-body">
                          <h4 class="card-title"><a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a></h4>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                </div>
        </div>
                        <div class="carousel-item">
                  <div class="row">
                     {{#each nameResults6}}
                        <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                        <div class="card-body">
                          <h4 class="card-title"><a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a></h4>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                </div>
        </div>
                        <div class="carousel-item">
                  <div class="row">
                     {{#each nameResults7}}
                        <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                        <div class="card-body">
                          <h4 class="card-title"><a href="/mytrips/{{this.name}}/{{this.lat}}/{{this.long}}">{{this.name}}</a></h4>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                </div>
        </div>
        </div>
    </section>
  <section class="cta text-center">
      <div class="container">
        <div class="py-5 text-center row justify-content-center">
          <div class="col-md-8">
            <form class="subscribe">
              <div class="form-group row pt-3">
                <div class="col-sm-8 col-md-9 mb-3">
                  <input type="text" class="form-control form-control-lg" placeholder="Search for country">
                </div>
                <div class="col-sm-4 col-md-3">
                  <button class="open-button" onclick="openForm()">Search</button>
                  <div class="form-popup" id="myForm">
                    <form method="POST" action="/mytrips" class="form-container">                    
                      <label for="rem"><b>Insert Dates:</b></label>
                      <input type="text" placeholder="Add new reminder" name="reminder" required/></input>

                      <button type="submit" class="btn">Add</button>
                      <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>



<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

