<section class="pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>Pick your must-go activities and add some reminders</h1>
      </div>
    </div>
  </div>
</section>




<section class="pt-5 pb-5">
<div class="container">
  <div class="d-flex justify-content-between" >
    <div class="row">
      <h3 class="destination-activities"><span class="destination-h3">{{name}}</span> from <span class="destination-h3">{{start}}</span>  until <span class="destination-h3">{{end}}</span> </h3>
      <div class="col col-md-6 text-center">
        <div class="list-group-activities">   
            <a href="#" class="list-group-item list-group-item-action">+</a>
            <a href="#" class="list-group-item list-group-item-action">+</a>
            <a href="#" class="list-group-item list-group-item-action">+</a>
            <a href="#" class="list-group-item list-group-item-action">+</a>
            <a href="#" class="list-group-item list-group-item-action">+</a>
            <a href="#" class="list-group-item list-group-item-action">+</a>
            <a href="#" class="list-group-item list-group-item-action disabled">+</a>
       </div>
      </div>
    </div>
    <div class="row">
    <h3 class='reminder-title'>Don't forget</h3>
      <div class="col col-md-6 text-center">
        <div class="list-group-reminder">
        {{#each description}}
          <p class="list-group-item list-group-item-action">{{this}}</p>
         {{/each}}
                <button class="open-button" onclick="openForm()">Add</button>
                <div class="form-popup" id="myForm">
                <form method="POST" action="/mytrips/{{name}}/{{lat}}/{{long}}/{{start}}/{{end}}" class="form-container">
                    <label for="rem"><b>New Reminder:</b></label>
                    <input type="hidden" name="action" value="new_reminder">
                    <input class= "input-form" type="text" placeholder="Add new reminder" name="reminder" required />
                    <button type="submit" class="add">Add</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                </form>
                </div>
        </div>
      </div>
    </div>
  </div>
        </div>
</section>

<section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Top activites from {{name}}:</h3>
          </div>
          <div class="col-6 text-md-end">
            <a class="btn btn-primary mb-3 me-1"
              href="#carouselExampleIndicators2" role="button"
              data-slide="prev">
              <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2"
              role="button" data-slide="next">
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
          <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide"
              data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item">
                  <div class="row">
                        {{#each attractArr0}}                        
                            <div class="col-md-4 mb-3">
                            <div class="card">                        
                                <div class="card-body">
                                <form method="POST" action="/mytrips/:name/:lat/:long">
                                <button type='submit'><input class="card-title" name="activities">{{this}}</input></button>
                                </form> 
                                </div>
                            </div>
                            </div>                          
                        {{/each}}                  
                    </div>
                  </div>
                </div>
                <div class="carousel-item active">
                  <div class="row">
                    {{#each attractArr1}}
                            <div class="col-md-4 mb-3">
                            <div class="card">                        
                                <form method="POST" action="/mytrips/:name/:lat/:long">
                                <button type='submit'><h4 class="card-title">{{this}}</h4></button>
                                </form> 
                            </div>
                            </div>
                    {{/each}}  
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    {{#each attractArr2}}
                            <div class="col-md-4 mb-3">
                            <div class="card">                        
                                <form method="POST" action="/mytrips/:name/:lat/:long">
                                <button type='submit'><h4 class="card-title">{{this}}</h4></button>
                                </form> 
                            </div>
                            </div>
                    {{/each}}        
                 </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    {{#each attractArr3}}
                            <div class="col-md-4 mb-3">
                            <div class="card">                        
                                <form method="POST" action="/mytrips/:name/:lat/:long">
                                <button type='submit'><h4 class="card-title">{{this}}</h4></button>
                                </form> 
                            </div>
                            </div>
                    {{/each}}
                 </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    {{#each attractArr4}}
                            <div class="col-md-4 mb-3">
                            <div class="card">                        
                                <form method="POST" action="/mytrips/:name/:lat/:long">
                                <button type='submit'><h4 class="card-title">{{this}}</h4></button>
                                </form> 
                            </div>
                            </div>
                    {{/each}}   
                  </div>
                </div>  
                  <div class="carousel-item">
                    <div class="row">
                        {{#each attractArr5}}
                                <div class="col-md-4 mb-3">
                                <div class="card">                        
                                   <form method="POST" action="/mytrips/:name/:lat/:long">
                                <button type='submit'><h4 class="card-title">{{this}}</h4></button>
                                </form> 
                                </div>
                                </div>
                        {{/each}}   
                    </div>
                    </div>       
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

 

